.header {
  height: 78px;
  max-width: 1440px;
  margin: 0 auto;
}
.logo {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
}
.header-link {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}
.header-item {
  list-style: none;
}

.header-list {
  display: flex;
}

.header .container {
  display: flex;
  align-items: center;
}
.container {
  padding-top: 18px;
}
.button {
  width: 114px;
  height: 4cla0px;
  display: block;
  background: #03b3a1;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  padding: 0;
  color: #ffffff;
  margin-left: auto;
}
.header-item:not(:last-child) {
  margin-right: 40px;
}
.header-item:first-child {
  margin-left: 580px;
}
.header-item:last-child {
  margin-right: 58px;
}
