.hero-box {
  display: none;
}
.hero {
  display: flex;
  position: relative;
  background-color: #c4c4c4;
  max-width: 1440px;
  height: 750px;
  margin: 0 auto;
}
.hero-title {
  font-size: 48px;
  line-height: 1.56;
  text-align: right;
  letter-spacing: 0.005em;
  color: #ffffff;
}
.hero-name {
  margin: auto;
  margin-top: 90px;
  margin-right: 120px;
  width: 621px;
  height: 150px;
}
.hero-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 120px;
  margin-bottom: 74px;
  font-size: 20px;
  line-height: 1.5;
  width: 207px;
  height: 60px;
  text-align: center;
  letter-spacing: 0.005em;
  cursor: pointer;
  color: black;
  backdrop-filter: blur(24px);
  border-radius: 40px;
}
