.packeges-section {
  width: 1440px;
  height: 630px;
  display: block;
  background-color: #fff;
}
.packeges-images {
  padding-top: 40px;
  padding-left: 120px;
}

.packeges-main_images {
  display: block;
  width: 480px;
  height: 550px;
  background-color: gray;
  border-radius: 24px;
}
