.partners {
    background:#FFFFFF;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 31px;
}
.partners__title {
font-weight: 600;
font-size: 40px;
line-height: 1.5;
color: #223939;
margin-bottom: 16px;
}
.partners__text {
font-size  : 24px;
line-height: 1.5;
color: #000000;
opacity: 0.3;
margin-bottom: 40px;
 }
 .partners__list {
display: flex;
margin-left: 120px;
margin-right: 120px;
 }
 .partners__element:not(:last-child) {
margin-right: 110px;
 }
 .partners__logo {
fill:  #000000;
transition: fill 250ms linear;
 }
.partners__link {
    display: inline-block;
    transition: border 250ms linear;
}
.partners__link:hover .partners__logo,
.partners__link:focus-within .partners__logo {
fill: #03B3A1;
 }
.partners__link:focus-within {
    border: 2px solid #03B3A1;
    outline: none;
}