<section class="about-us">
    <div class="container ">
        <div class="about-us-box">
            <img src="images/aboutus.jpg" class="about-us__img" alt="пусто" />
            <div class="about-us-info">
                <h2 class="about-us__header">ABOUT US</h2>
                    <h3 class="best-service">The Best And Most trusted service</h3>
                        <p class="paragraph">
                            We are the largest holiday service provider in the world with partners
                            and places spread all over the world by prioriti- zing service and
                            customer satisfaction.
                        </p>
                        <ul class="flex">
                            <li class="customer-li">
                                <span class="customer-span">270+</span>
                                <p class="customer-p">Customer and partners</p>
                            </li>
                            <li class="customer-li">
                                <span class="customer-span">470+</span>
                                <p class="customer-p">Place in the world</p>
                            </li>
                        </ul>
                    </div>
        </div>
    </div>
</section>