<img src="" alt="" />
<h2 class="about-us">ABOUT US</h2>
<h3 class="best-service">The Best And Most trusted service</h3>
<p class="paragraph">
    We are the largest holiday service provider in the world with partners
    and places spread all over the world by prioriti- zing service and
    customer satisfaction.
</p>
<ul>
    <li>
        <span class="customer">270+</span>
        <p class="">Customer and partners</p>
    </li>
    <li>
        <span class="customer">470+</span>
        <p>Place in the world</p>
    </li>
</ul>