<section class="section">
    <div class="container">
    <h2 class="section-title">Some our recommended place around the world</h2>
    <ul>
        <li>
            
                <img src="/about-us-photo-01.jpg" alt="photo width="270">
                <h3>Raja Ampat, Indonesia</h3>
                <p>Underwater Tourism</p>
                <span>$750/Pax</span>
                
           
        </li>
        <li>
           
                <img src="/about-us-photo-01.jpg" alt="photo width="270">
                <h3>Machu Piccu, Mexico</h3>
                <p>Cultural Tourism</p>
                <span>$1200/Pax</span>
            
        </li>
        <li>
                <img src="/about-us-photo-01.jpg" alt="photo width="270">
                <h3>Nusa Penida, Indonesia</h3>
                <p>Beach Tourism</p>
                <span>$670/Pax</span>
            
        </li>
        <li>
            
                <img src="/about-us-photo-01.jpg" alt="photo width="270">
                <h3>Bromo Tengger, Indonesia</h3>
                <p>Mountain Tourism</p>
                <span>$350/Pax</span>
            
        </li>
        
        
    </ul>
    </div>
</section>