<section class="section">
    <div class="container">
    <h2 class="section-title">Some our recommended place around the world</h2>
    <ul class="around-us list">
        <li class="item">
            
                <img class="around-us__img" src="images/atw-pic.jpg" alt="photo" width="270">
                <h3 class="atw-card-title">Raja Ampat, Indonesia</h3>
                <p class="card-name">Underwater Tourism</p>
                <span class="card-price">$750/</span><span class="card-text">Pax</span> 
                
           
        </li>
        <li class="item">
           
                <img class="around-us__img" src="images/atw-pic-02.jpg" alt="photo" width="270">
                <h3 class="atw-card-title">Machu Piccu, Mexico</h3>
                <p class="card-name">Cultural Tourism</p>
                <span class="card-price">$1200/</span><span class="card-text">Pax</span>
            
        </li>
        <li class="item">
                <img class="around-us__img" src="images/atw-pic-03.jpg" alt="photo" width="270px">
                <h3 class="atw-card-title">Nusa Penida, Indonesia</h3>
                <p class="card-name">Beach Tourism</p>
                <span class="card-price">$670/</span><span class="card-text">Pax</span>
            
        </li>
        <li class="item">
            
                <img class="around-us__img" src="images/atw-pic-04.jpg" alt="photo" width="270">
                <h3 class="atw-card-title">Bromo Tengger, Indonesia</h3>
                <p class="card-name">Mountain Tourism</p>
                <span class="card-price">$350/</span><span class="card-text">Pax</span>
            
        </li>
        
        
    </ul>
    </div>
</section>