<section>
    <h2 class="articles__title">ARTICLES</h2>

        <h3 class="">The Best Choice Of Place Just For You</h3>
        <ul class="slick-list">
          <li>
            <span>01</span>
            <h4>Indonesia</h4>
            <p>
              A country in Southeast Asia that crosses the equator and is
              between mainland Asia and Australia, and between the Pacific Ocean
              and the Indian Ocean. Indonesia is the largest archipelagic
              country in the world
            </p>
            <ul>
              <li><img src="" alt="Indonesia photo1" /></li>
              <li><img src="" alt="Indonesia photo2" /></li>
              <li><img src="" alt="Indonesia photo3" /></li>
              <li><img src="" alt="Indonesia photo4" /></li>
              <li><img src="" alt="Indonesia photo5" /></li>
              <li><img src="" alt="Indonesia photo6" /></li>
            </ul>
          </li>
        </ul>
</section>