<footer class="footer">
    <ul>
        <li><a class="" href="">JelongTour</a></li>
        <li>
            <a href="">Information</a>
            <ul>
                <li><a href="">About us</a></li>
                <li><a href="">More search</a></li>
                <li><a href="">Blogs</a></li>
                <li><a href="">Testimonial</a></li>
                <li><a href="">Event</a></li>
            </ul>
        </li>
        <li>
            <a href="">Help Full Link</a>
            <ul>
                <li><a href="">Services</a></li>
                <li><a href="">Support</a></li>
                <li><a href="">Tearm & Condition</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">FAQ</a></li>
            </ul>
        </li>
        <li>
            <a href="">Our Services</a>
            <ul>
                <li><a href="">Travel</a></li>
                <li><a href="">Guide Travel</a></li>
                <li><a href="">Study Tour</a></li>
            </ul>
        </li>
        <li>
            <ul>
                <li><a href="">FB</a></li>
                <li><a href="">INST</a></li>
                <li><a href="">Tweeter</a></li>
            </ul>
            <ul>
                <li><a href="mailto:"></a></li>
                <li><a href="tel:"></a></li>
            </ul>
        </li>
    </ul>
</footer>