<header>
  <header class="header">
    <div class="container">
      <a class="logo" href="">JelongTour</a>
      <nav class="nav">
        <ul class="header-list">
          <li class="header-item"><a class="header-link" href="">Home</a></li>
          <li class="header-item"><a class="header-link" href="">Explore</a></li>
          <li class="header-item"><a class="header-link" href="">About us</a></li>
          <li class="header-item"><a class="header-link" href="">Booking</a></li>
        </ul>
      </nav>
      <button class="button" type="button">Sign Up</button>
      
    </div>
  </header>
</header>
