<section class="packeges">
    <div class="container">
            <img class="packeges-main_images" src="images/packeges.jpeg" alt="nice-view" width="480"/>
    <div class="packeges__content">
    <h2 class="packeges__name">PACKAGES</h2>
    <h3 class="packeges__subname">Luxury Holiday <br> Packages For You</h3>
    <p class="packeges__text">Find a luxurious and comfortable workplace at a friendly price so you don't have to worry about costs and the services
we provide are very useful for you as a valuable</p>
<span class="packeges__i">$1400 </span>/day
<button class="packeges__button" type="button">Book Now</button></div>
</div>
</section>