<section class="partners-ship">
    <div class="container">
    <h2 class="partners">Our Partnership</h2>
    <p class="text-partners">Some our best partnership travel service worldwide</p>
    <ul class="partner-list">
        <li class="link-partners"><a href="">top</a></li>
        <li class="link-partners"><a href="">talp</a></li>
        <li class="link-partners"><a href="">rec</a></li>
        <li class="link-partners"><a href="">sky</a></li>
        <li class="link-partners"><a href="">travel</a></li>
    </ul></div>
</section>