<section class="partners">
    <div class="container">
    <h2 class="partners__title">Our Partnership</h2>
    <p class="partners__text">Some our best partnership travel <br> service worldwide</p>
    <ul class="partners__list">
        <li class="partners__element"><a class="partners__link" href="">
            <svg class="partners__logo">
                <use href="images/symbol-defs.svg#icon-topnet-2-1-1"></use>
            </svg>
        </a></li>
        <li class="partners__element"><a class="partners__link" href="">
            <svg class="partners__logo">
                <use href="images/symbol-defs.svg#icon-tulip-2"></use>
            </svg>
        </a></li>
        <li class="partners__element"><a  class="partners__link" href="">
            <svg class="partners__logo">
                <use href="images/symbol-defs.svg#icon-regin-2-1-1"></use>
            </svg>
        </a></li>
        <li class="partners__element"><a class="partners__link" href="">
            <svg class="partners__logo">
                <use href="images/symbol-defs.svg#icon-sky-travel-2-1-2-1"></use>
            </svg>
        </a></li>
        <li class="partners__element"><a class="partners__link" href="">
            <svg class="partners__logo">
                <use href="images/symbol-defs.svg#icon-Frame-1-2-1"></use>
            </svg>
        </a></li>
    </ul></div>
</section>