<section class="partners-ship">
    <div class="container">
    <h2 class="partners">Our Partnership</h2>
    <p class="text-partners">Some our best partnership travel <br> service worldwide</p>
    <ul class="partner-list">
        <li class="link-partners"><a href="">
            <svg class="logo-partners">
                <use href="images/symbol-defs.svg#icon-topnet-1"></use>
            </svg>
        </a></li>
        <li class="link-partners"><a href="">
            <svg class="logo-partners">
                <use href="images/symbol-defs.svg#icon-tulip-1"></use>
            </svg>
        </a></li>
        <li class="link-partners"><a href="">
            <svg class="logo-partners">
                <use href="images/symbol-defs.svg#icon-regin-1-1"></use>
            </svg>
        </a></li>
        <li class="link-partners"><a href="">
            <svg class="logo-partners">
                <use href="images/symbol-defs.svg#icon-sky-travel-2-1-1"></use>
            </svg>
        </a></li>
        <li class="link-partners"><a href="">
            <svg class="logo-partners">
                <use href="images/symbol-defs.svg#icon-Frame-1-1"></use>
            </svg>
        </a></li>
    </ul></div>
</section>